<template>
	<div>
		<div class="alert alert-danger" role="alert" v-if="errors.state">
			<button type="button" class="close"><span aria-hidden="true" @click="errors.state = false">&times;</span></button>
			{{errors.message}}
		</div>
		<form @submit.prevent="login">
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control" id="email" placeholder="Email" v-model="email">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Password" v-model="password">
			</div>
			<button type="submit" class="btn btn-default">Login</button>
		</form>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				loading: false,
				email: '',
				password: '',
				errors: {
					state: false,
					message: ''
				}
			}
		},
		created(){
			if (Meteor.userId()) {
				this.$router.push('/dashboard')
			}
		},
		methods: {
			login(){
				Meteor.loginWithPassword(this.email , this.password , e => {
					if (e) {
						this.errors.state =  true
						this.errors.message =  e.reason
					}
					else{
						this.$router.push('/dashboard')
					}
				})
			}
		}
	}
</script>
