<template>
	<div>
		<div class="alert alert-danger" role="alert" v-if="errors.state">
			<button type="button" class="close"><span aria-hidden="true" @click="errors.state = false">&times;</span></button>
			{{errors.message}}
		</div>
		<form @submit.prevent="register">
			<div class="form-group">
				<label for="name">Full Name</label>
				<input type="text" class="form-control" id="name" placeholder="Full Name" v-model="name">
			</div>
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control" id="email" placeholder="Email" v-model="email">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Password" v-model="password">
			</div>
			<button type="submit" class="btn btn-default">Register</button>
		</form>
	</div>
</template>

<script>
	import { Accounts } from 'meteor/accounts-base' 
	export default {
		data(){
			return {
				loading: false,
				name: '',
				email: '',
				password: '',
				errors: {
					state: false,
					message: ''
				}
			}
		},
		created(){
			if (Meteor.userId()) {
				this.$router.push('/dashboard')
			}
		},
		methods:{
			register(){
				let username = this.generateUsername(this.name);
				let initials = this.getInitials(this.name);
				
				Accounts.createUser({
					username : username,
					email : this.email,
					password : this.password,
					profile: {
						name: this.name,
						initials: initials
					}
				} , e => {
					if (!e) {
						this.$router.push('/dashboard')
					}
					else if (e.reason === "Email already exists.") {
						this.errors.state = true
						this.errors.message = e.reason
					}
				})
			},
			getInitials(name){
				return name.split(' ').map( i => i.charAt(0).toUpperCase()).join('')
			},
			generateUsername(name){
				let hash = Math.floor(Math.random() * 100)
				let username = name.toLowerCase().split(' ').join('')
				username = username + hash
				if (Meteor.isServer) {
					if(Accounts.findUserByUsername(username)){
						this.generateUsername(username)
					}
				}
				return username	
			},
		}
	}
</script>